<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>

	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form" prependId="false" method="POST">
			<p:tab id="personal" title="Login">
				<p:panel header="Login">
					<p:messages id="messages" showDetail="false" closable="true"
						sticky="true"></p:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="username" value="Username: " />
						<p:inputText id="username" value="#{loginController.username}"
							required="true" />
						<h:outputLabel for="password" value="Password" />
						<p:password id="password" value="#{loginController.password}"
							required="true" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="index" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
				<p:commandButton styleClass="ui-priority-primary" id="submit"
					value="Login" action="#{loginController.login()}" update="form">
				</p:commandButton>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</p:tab>
		</h:form>
	</div>
	<script>
		$(document).ready(function() {
			$('#password').keypress(function(e) {
				if (e.keyCode == 13)
					$('#submit').click();
			});
		});
	</script>
</h:body>
</html>
