<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.messages" var="msgs" />
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Save User</title>
	<style>

body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			<p:tab id="personal" title="Registration">
				<p:panel header="Registration Details">
					<p:messages id="messages" showDetail="false" autoUpdate="true" />
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="firstname" value="First Name: " />
						<p:inputText id="firstName" value="#{userController.firstName}"
							required="true" />
						<h:outputLabel for="lastname" value="Last Name: " />
						<p:inputText id="lastName" value="#{userController.lastName}"
							required="true" />
						<h:outputLabel for="email" value="E-mail: " />
						<p:inputText id="email" required="true" label="email" size="20"
							requiredMessage="Please enter your email address."
							validatorMessage="Invalid email format" value="#{userController.email}">

							<f:validateRegex
								pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

						</p:inputText>
						<p:watermark for="email" value="" />
						<p:message for="email" />
						<h:outputLabel for="username" value="UserName: " />
						<p:inputText id="username" value="#{userController.username}"
							required="true" />
						<h:outputLabel for="pwd1" value="Password: " />
						<p:password id="pwd1" value="#{userController.password}"
							match="pwd2" label="Password 1" required="true" />
						<h:outputLabel for="pwd2" value="Password Confirm: " />
						<p:password id="pwd2" value="#{userController.passwordConfirm}"
							label="Password 2" required="true" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="index" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
				<p:commandButton value="Save" action="#{userController.saveUser()}">
				</p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>