<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>User Saved Successfully</title>
</h:head>
<h:body>
	<h:form style="text-align:center;">
		<h3>The following data was saved to the database:</h3>
		<div style="margin: 0 auto; text-align: left; width: 400px;">
			<p:panel header="Registration Details">
				<p:messages />
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="First Name: " />
					<h:outputText value="#{userController.firstName}" />
					<h:outputText value="Last Name: " />
					<h:outputText value="#{userController.lastName}" />
					<h:outputText value="E-mail: " />
					<h:outputText value="#{userController.email}" />
					<h:outputText value="Username: " />
					<h:outputText value="#{userController.username}" />
				</h:panelGrid>
			</p:panel>
			<h:form>
				<p:commandButton action="index" value="Back"></p:commandButton>
			</h:form>
		</div>
	</h:form>
</h:body>
</html>