<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
#customerForm {
	margin: 0 auto;
	width: 820px;
}

body {
	background-color: linen;
}
</style>


	<title>Customers List</title>

</h:head>
<h:body>
	<center>
		<h2>
			<h:outputText value="Customers Records" />
		</h2>
		User:
		<h:outputText value="#{request.userPrincipal.name}" />
	</center>

	<h:form id="customerForm">

		<p:dataTable id="dt" var="cust"
			value="#{customerController.customers}">
			<p:growl id="message" showDetail="true" />
			<p:column class="id" headerText="Id" style="width:20px">
				<h:outputText value="#{cust.id}" />
			</p:column>

			<p:column class="fn" headerText="First Name">
				<h:outputText value="#{cust.firstName}" />
			</p:column>

			<p:column class="ln" headerText="Last Name">
				<h:outputText value="#{cust.lastName}" />
			</p:column>

			<p:column class="email" headerText="eMail" style="width:200px">
				<h:outputText value="#{cust.email}" />
			</p:column>
			<p:column class="btn" style="width:150px">

				<p:splitButton value="Options" icon="ui-icon-disk">
					<p:menuitem value="Delete" ajax="true" icon="ui-icon-close"
						action="#{customerController.deleteCustomer(cust)}"
						update="message dt">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:menuitem>

					<p:menuitem value="Update" ajax="false" icon="ui-icon-close"
						action="#{customerController.updateCustomer(cust)}" />
				</p:splitButton>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:column>
		</p:dataTable>
		<p:commandButton value="New Customer" action="save_customer" 
			styleClass="ui-priority-primary" />
		<p:commandButton value="Back" action="control" />
	</h:form>
</h:body>
</html>