<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Customer Saved Successfully</title>
<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			<p:tab id="personal" title="Registration">
				<p:panel header="Registration Details">
					<h:messages></h:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="firstName" value="First Name: " />
						<h:outputText id="firstName" value="#{customerController.firstName}"></h:outputText>
						<h:outputLabel for="lastname" value="Last Name: " />
						<h:outputText id="lastname" value="#{customerController.lastName}"></h:outputText>
						<h:outputLabel for="email" value="Email: " />
						<h:outputText id="email" value="#{customerController.email}"></h:outputText>
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="customer_list" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>