<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.messages" var="msgs" />
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Update Password</title>
	<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 450px;">
		<p:growl id="message" showDetail="true" life="3000" />
		<h:form id="form">
			<p:tab id="personal" title="Password">
				<p:panel header="Update Password">
					<p:messages id="messages" showDetail="false" closable="true"
						sticky="true"></p:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="pwd" value="Current Password: " />
						<p:password id="pwd" value="#{userController.oldpassword}"
							label="Current Password" required="true" />
						<h:outputLabel for="pwd1" value="New Password: " />
						<p:password id="pwd1" value="#{userController.newPassword}"
							match="pwd2" label="New Password" required="true" />
						<h:outputLabel for="pwd2" value="Password Confirm: " />
						<p:password id="pwd2" value="#{userController.passwordConfirm}"
							label="Password Confirm" required="true" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="personal_data" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
				<p:commandButton styleClass="ui-priority-primary" value="Save"
					icon="ui-icon-disk"
					action="#{userController.saveUpdatedPassword()}" update="form">
				</p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>