<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<f:loadBundle basename="resources.messages" var="msgs" />
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Update Profile</title>
<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			
			<p:tab id="personal" title="Update">
				<p:panel header="Personal Details">
					<p:messages>
						<p:autoUpdate />
					</p:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="id" value="ID: " />
						<h:outputText id="id" value="#{userController.personal.userId}"
							label="ID" />
						<h:outputLabel for="firstname" value="First Name: " />
						<p:inputText id="firstname"
							value="#{userController.personal.firstName}" label="First Name"
							required="true" />
						<h:outputLabel for="lastname" value="Last Name: " />
						<p:inputText id="lastname" label="Last Name"
							value="#{userController.personal.lastName}" required="true" />
						<h:outputLabel for="email" value="Email: " />
						<p:inputText id="email" label="Email"
							value="#{userController.personal.email}" pt:type="email"
							required="true" />
						<h:outputLabel for="username" value="Username: " />
						<p:inputText id="username"
							value="#{userController.personal.username}" label="Username"
							required="true" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="personal_data" value="Back" ajax="true"
					update="form" immediate="true" />
				<p:commandButton styleClass="ui-priority-primary" icon="ui-icon-disk"
					action="#{userController.saveUpdatedPersonal}" value="Save"
					ajax="false" validateClient="true" />
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>