<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
#userForm {
	margin: 0 auto;
	width: 900px;
}

body {
	background-color: linen;
}
</style>


	<title>Users Data</title>

</h:head>
<h:body>
	<center>
		<h2>
			<h:outputText value="User Records" />
		</h2>
		User:
		<h:outputText value="#{request.userPrincipal.name}" />
	</center>
	<div
		style="margin: 0 auto; text-align: center; -webkit-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); padding: 2px 6px 4px 6px; color: #555555; background-color: #eeeeee; border: #dddddd 2px solid">
		<h:form id="userForm">
			<h2>OPTIONS</h2>
			<p:growl id="message" showDetail="true" life="3000"/>
			<p:dataTable id="dt" var="usr" value="#{userController.user}"
				style="visibility:hidden;">


				<p:column class="id" headerText="Id" style="width:20px">
					<h:outputText value="#{usr.userId}" />
				</p:column>

				<p:column class="fn" headerText="First Name">
					<h:outputText value="#{usr.firstName}" />
				</p:column>

				<p:column class="ln" headerText="Last Name">
					<h:outputText value="#{usr.lastName}" />
				</p:column>

				<p:column class="email" headerText="eMail" style="width:200px">
					<h:outputText value="#{usr.email}" />
				</p:column>

				<p:column class="gn" headerText="Username">
					<h:outputText value="#{usr.username}" />
				</p:column>

				<p:column class="gn" headerText="Password">
					<h:outputText value="#{usr.password}" />
				</p:column>

			</p:dataTable>

			<p:commandButton value="Update Profile" action="edit_profile"
				styleClass="ui-priority-primary" />
			<br></br>
			<br></br>
			<p:commandButton value="Change Password"
				action="#{userController.editPassword()}"
				styleClass="ui-priority-primary" />
			<br></br>
			<br></br>
			<p:commandButton value="Back" action="control" />
		</h:form>
	</div>
</h:body>
</html>