<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:loadBundle basename="resources.application" var="msg" />

<h:head>
	<title>Welcome</title>
<style>

body {
	background-color: linen;
}
</style>
</h:head>

<h:body>
	<div
		style="margin: 0 auto; text-align: left; width: 400px; -webkit-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75); padding: 2px 6px 4px 6px; color: #555555; background-color: #eeeeee; border: #dddddd 2px solid">
		<f:view>
			<h3>Successful Log In</h3>
			<p>
				Welcome,
				<h:outputText value="#{request.userPrincipal.name}" />
			</p>

			<h:form>
				<p:commandButton styleClass="ui-priority-primary" action="control"
					value="Continue" />
			</h:form>
		</f:view>
	</div>
</h:body>
</html>
