<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Update User</title>
<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			<p:tab id="personal" title="Update">
				<p:panel header="User Details">
					<h:messages></h:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="id" value="ID: " />
						<h:outputText id="id" value="#{userController.selected.userId}">
						</h:outputText>
						<h:outputLabel for="username" value="Username: " />
						<h:outputText label="Username"
							value="#{userController.selected.username}" />
						<p:outputLabel for="role" value="Role: " />
						<h:outputText id="role" value="#{userController.selected.groups.groupName}"
							style="width:125px" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="user_list" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
				<p:commandButton action="#{userController.saveUpdatedRoleAdmin}" value="Set Admin">
				</p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>