<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Update User</title>
	<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			<p:tab id="personal" title="Update">
				<p:panel header="User Details">
					<p:messages id="messages" showDetail="false" closable="true"
						sticky="true"></p:messages>
					<h:panelGrid columns="2" columnClasses="label, value">
						<h:outputLabel for="id" value="ID: " />
						<h:outputText id="id" value="#{userController.selected.userId}">
						</h:outputText>
						<h:outputLabel for="firstname" value="First Name: " />
						<h:inputText value="#{userController.selected.firstName}"
							required="true">
						</h:inputText>
						<h:outputLabel for="lastname" value="Last Name: " />
						<h:inputText label="Last Name"
							value="#{userController.selected.lastName}" required="true">
						</h:inputText>
						<h:outputLabel for="email" value="Email: " />
						<h:inputText label="Email"
							value="#{userController.selected.email}" pt:type="email"
							required="true">
						</h:inputText>
						<h:outputLabel for="username" value="Username: " />
						<h:inputText label="Username"
							value="#{userController.selected.username}" required="true" />
					</h:panelGrid>
				</p:panel>
				<p:commandButton action="user_list" value="Back" ajax="true"
					update="form" immediate="true"></p:commandButton>
				<p:commandButton action="#{userController.saveUpdated}" value="Save">
				</p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>