<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>User Password Updated Successfully</title>
<style>
body {
	background-color: linen;
}
</style>
</h:head>
<h:body>
	<div style="margin: 0 auto; text-align: left; width: 400px;">
		<h:form id="form">
			<p:tab id="personal" title="Update">
				<p:panel header="User Password Updated Successfully">
					<h:messages></h:messages>
					<h2>Your password has been updated Successfully!</h2>
				</p:panel>
				<p:commandButton action="personal_data" value="Back" ajax="true"
					immediate="true"></p:commandButton>
			</p:tab>
		</h:form>
	</div>
</h:body>
</html>