<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
#userForm {
	margin: 0 auto;
	width: 900px;
}

body {
	background-color: linen;
}
</style>


	<title>Users List</title>

</h:head>
<h:body>
	<center>
		<h2>
			<h:outputText value="Users Records" />
		</h2>
		User:
		<h:outputText value="#{request.userPrincipal.name}" />
	</center>
	<p:growl id="message" showDetail="true" life="3000" />
	<h:form id="userForm">

		<p:dataTable id="dt" var="usr" value="#{userController.users}">

			<p:column class="id" headerText="Id" style="width:20px">
				<h:outputText value="#{usr.userId}" />
			</p:column>

			<p:column class="fn" headerText="First Name">
				<h:outputText value="#{usr.firstName}" />
			</p:column>

			<p:column class="ln" headerText="Last Name">
				<h:outputText value="#{usr.lastName}" />
			</p:column>

			<p:column class="email" headerText="eMail" style="width:200px">
				<h:outputText value="#{usr.email}" />
			</p:column>

			<p:column class="gn" headerText="Username">
				<h:outputText value="#{usr.username}" />
			</p:column>

			<p:column class="gn" headerText="Role">
				<h:outputText value="#{usr.groups.groupName}" />
			</p:column>

			<p:column class="btn" style="width:150px">

				<p:splitButton value="Options" icon="ui-icon-disk">
					<p:menuitem value="Delete User" ajax="true" icon="ui-icon-close"
						action="#{userController.deleteUser(usr)}" update="message dt">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:menuitem>

					<p:menuitem value="Update Profile" ajax="false"
						icon="ui-icon-close" action="#{userController.updateUser(usr)}" />
					<p:menuitem value="Update Role" ajax="false" icon="ui-icon-close"
						update="userForm" action="#{userController.updateRole(usr)}" />
				</p:splitButton>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Yes" type="button" update="userForm"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button" update="userForm"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:column>
		</p:dataTable>

		<p:commandButton value="New User" action="save_user"
			styleClass="ui-priority-primary" />
		<p:commandButton value="Back" action="control" />
	</h:form>
</h:body>
</html>